.search-main {
  max-width: 1440px;
  background-image: url("../img/main_bg.png");
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 830px;
  background-position-y: 100%;

  &__text {
    width: 297px;
    position: absolute;
    right: 0;
    bottom: 20px;
    font-size: 1.4em;
    line-height: 1.72em;
    text-align: right;
    color: rgba(31, 32, 65, 0.75);
  }
}
