.input {
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1.4em;
  line-height: 1.72em;
  color: rgba(31, 32, 65, 0.25);
  height: 44px;
  padding-left: 15px;
  width: 100%;
}

.input-container {
  position: relative;
}