footer.footer
  section(class="footer__nav")
    div.footer__nav-container
      a(href="#" class="footer__nav-logo")
      p.footer__nav-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    div.footer__nav-container
      h4.footer__nav-title Навигация
      ul.footer__nav-list
        li.footer__nav-item О нас
        li.footer__nav-item Новости
        li.footer__nav-item Служба поддержки
        li.footer__nav-item Услуги
    div.footer__nav-container
      h4.footer__nav-title О нас
      ul.footer__nav-list
        li.footer__nav-item О сервисе
        li.footer__nav-item Наша команда
        li.footer__nav-item Вакансии
        li.footer__nav-item Инвесторы
    div.footer__nav-container
      h4.footer__nav-title Служба поддержки
      ul.footer__nav-list
        li.footer__nav-item Соглашения
        li.footer__nav-item Сообщества
        li.footer__nav-item Связь с нами
    div.footer__nav-container
      h4.footer__nav-title Подписка
      p.footer__nav-text Получайте специальные предложения и новости сервиса

  section(class="footer__copyright")