footer(class="footer wrapper")
  section(class="footer__nav")
    div.footer__nav-container
      a(href="index.html" class="footer__nav-logo")
      p.footer__nav-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    div.footer__nav-container
      h4.footer__nav-title Навигация
      ul.footer__nav-list
        li.footer__nav-item
          a(href="#" class="footer__nav-link") О нас
        li.footer__nav-item
          a(href="#" class="footer__nav-link") Новости
        li.footer__nav-item
          a(href="#" class="footer__nav-link") Служба поддержки
        li.footer__nav-item
          a(href="#" class="footer__nav-link") Услуги
    div.footer__nav-container
      h4.footer__nav-title О нас
      ul.footer__nav-list
        li.footer__nav-item
          a(href="#" class="footer__nav-link") О сервисе
        li.footer__nav-item
          a(href="#" class="footer__nav-link") Наша команда
        li.footer__nav-item
          a(href="#" class="footer__nav-link") Вакансии
        li.footer__nav-item
          a(href="#" class="footer__nav-link") Инвесторы
    div.footer__nav-container
      h4.footer__nav-title Служба поддержки
      ul.footer__nav-list
        li.footer__nav-item
          a(href="#" class="footer__nav-link") Соглашения
        li.footer__nav-item
          a(href="#" class="footer__nav-link") Сообщества
        li.footer__nav-item
          a(href="#" class="footer__nav-link") Связь с нами
    div.footer__nav-container
      h4.footer__nav-title Подписка
      p.footer__nav-text Получайте специальные предложения и новости сервиса
      div.input-container
        form
          input(type="text" class="input footer__input" placeholder="Email")
          a(href="#" class="footer__arrow-right")
            <i class="material-icons footer__material-icons">arrow_forward</i>

  section(class="copyright footer__copyright")
    div.copyright-text Copyright © 2019 Toxin отель. Все права защищены.
    div.copyright-icons
      ul.copyright__list
        li.copyright__list-item
          a(class="copyright__list-link" href="#")
            <i class="fab fa-twitter copyright__fab"></i>
        li.copyright__list-item
          a(class="copyright__list-link" href="#")
            <i class="fab fa-facebook-square copyright__fab"></i>
        li.copyright__list-item
          a(class="copyright__list-link" href="#")
            <i class="fab fa-instagram copyright__fab"></i>