header(class="wrapper header")
  a(class="header-logo" href="index.html")
  nav.header__nav
    a(class="header__nav-link" href="#") О нас
    a(class="header__nav-link" href="#") Услуги
      i(class="material-icons header__icon-arrow") keyboard_arrow_down
    a(class="header__nav-link" href="#") Вакансии
    a(class="header__nav-link" href="#") Новости
    a(class="header__nav-link" href="#") Соглашения
      i(class="material-icons header__icon-arrow") keyboard_arrow_down
  div.header__buttons
    a(class="button header__btn-entry" href="entry.html") Войти
    a(href="registration.html" class="button header__btn-reg") Зарегистрироваться
