header(class="wrapper header")
  a(class="header-logo" href="#")
  nav.header__nav
    a(class="header__nav-link" href="#") О нас
    a(class="header__nav-link" href="#") Услуги
    a(class="header__nav-link" href="#") Вакансии
    a(class="header__nav-link" href="#") Новости
    a(class="header__nav-link" href="#") Соглашения
  div.header__buttons
    a(class="button header__btn-entry" href="#") Войти
    a(href="#" class="button header__btn-reg") Зарегистрироваться
