doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Webpack 4 template
  body
    include ../include/header.pug
    main(class="details-room")
      section.details-room__photo
        div.details-room__photo-big
        div(class="photo-small details-room__photo-small")
          div.photo-small__box
          div.photo-small__box
      section(class="main-info details-room__content")
        div.main-info__about
          section.main-info__about-container
            h2.main-info__title Сведения о номере
            div.main-info__about-box
              <i class="material-icons main-info__icons">tag_faces</i>
              div.main-info__about-text
                p.main-info__about-title Комфорт
                p.main-info__about-descritpion Шумопоглощающие стены
            div.main-info__about-box
              <i class="material-icons main-info__icons">location_city</i>
              div.main-info__about-text
                p.main-info__about-title Удобство
                p.main-info__about-descritpion Окно в каждой из спален
            div.main-info__about-box
              <i class="material-icons main-info__icons">whatshot</i>
              div.main-info__about-text
                p.main-info__about-title Уют
                p.main-info__about-descritpion Номер оснащён камином
          section.main-info__statistic
            h2.main-info__title Впечатления от номера
            div.main-info__diagramm
            ul.main-info__list
              li.main-info__list-item Великолепно
              li.main-info__list-item Хорошо
              li.main-info__list-item Удовлетворительно
              li.main-info__list-item Разочарован

          section.main-info__reviews
            div.main-info__reviews-count 2 отзыва
            h2.main-info__title Отзывы посетителей номера
            article.main-info__reviews-box
              header.main-info__reviews-header
                span.main-info__img-box
                  img(class="main-info__img-avatar" src="../img/murad.png")
                span.main-info__box
                  h6.main-info__box-name Мурад Сарафанов
                  span.main-info__box-date 5 дней назад
              section.main-info__reviews-content
                div.main-info__reviews-likes <i class="material-icons main-info__favorite-icon">favorite</i> 12
                div.main-info__reviews-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
            article.main-info__reviews-box
              header.main-info__reviews-header
                span.main-info__img-box
                  img(class="main-info__img-avatar" src="../img/girl.png")
                span.main-info__box
                  h6.main-info__box-name Патрисия Стёклышкова
                  span.main-info__box-date Неделю назад
              section.main-info__reviews-content
                div.main-info__reviews-likes <i class="material-icons main-info__favorite-icon">favorite</i> 5
                div.main-info__reviews-text Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент
          section.main-info__extra-info
            div.main-info__rules
              h2.main-info__title Правила
              ul(class="list-rules list-rules_margin_top")
                li.list-rules__item Нельзя с питомцами
                li.list-rules__item Без вечеринок и мероприятий
                li.list-rules__item Время прибытия — после 13:00, а выезд до 12:00
            div.main-info__cancel
              h2.main-info__title Отмена
              p.main-info__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

    include ../include/footer.pug