include ../utils/mixins


doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Webpack 4 template
  body
    include ../include/header.pug
    main(class="wrapper filter")
      aside.filter__aside
        form
          div.filter__date-arrive
            h4.filter__title Даты пребывания в отеле
            input(type="text" placeholder="19 авг - 23 авг" class="input filter__input")
            i(class="material-icons filter__icon-arrow") keyboard_arrow_down
          div.filter__box
            h4.filter__title Гости
            div.guest-container
              input(type="text" placeholder="Сколько гостей" class="input filter__input js-guest" readonly)
              i(class="material-icons filter__icon-arrow") keyboard_arrow_down
              div.guest-container__inner
                div.guest-container__inner-category
                  span.guest-container__inner-adult Взрослые
                  span.counter
                    span.minus -
                    span.guest-container__number 0
                    span.plus +
                div.guest-container__inner-category
                  span.guest-container__inner-adult Дети
                  span.counter
                    span.minus -
                    span.guest-container__number 0
                    span.plus +
                div.guest-container__inner-category
                  span.guest-container__inner-adult Младенцы
                  span.counter
                    span.minus -
                    span.guest-container__number 0
                    span.plus +
                div.guest-container__inner-category
                  a(href="#" class="guest-container__btn-clear") очистить
                  a(href="#" class="guest-container__btn-apply") принять
          div.filter__range-price
            h4.filter__title Диапазон цены
            span 5000 - 10000
          input(type="range" id="range-aside" class="input filter__input")
          label( class="filter__range-label" for="range-aside") Стоимость за сутки пребывания в номере
          h4(class="filter__title filter__title_mt-30") Checkbox Buttons
          section(class="checkbox-container")
            div.checkbox-container__box
              input(type="checkbox"  id="checkbox-aside1" class="input filter__input-checkbox")
              label(for="checkbox-aside1" class="checkbox-container__label") Можно курить
            div.checkbox-container__box
              input(type="checkbox"  id="checkbox-aside2" class="input filter__input-checkbox")
              label(for="checkbox-aside2" class="checkbox-container__label") Можно с питомцами
            div.checkbox-container__box
              input(type="checkbox"  id="checkbox-aside3" class="input filter__input-checkbox")
              label(for="checkbox-aside3" class="checkbox-container__label") Можно пригласить гостей (до 10 человек)
          h4(class="filter__title filter__title_mt-30") Доступность
          section(class="checkbox-container")
            div.checkbox-container__box
              input(type="checkbox"  id="checkbox-aside4" class="input filter__input-checkbox")
              label(for="checkbox-aside4" class="filter__label") Широкий коридор
              span.filter__text Ширина коридоров в номере не менее 91 см.
            div.checkbox-container__box
              input(type="checkbox"  id="checkbox-aside5" class="input filter__input-checkbox")
              label(for="checkbox-aside5" class="filter__label") Помощник для инвалидов
              span.filter__text На 1 этаже вас встретит специалист  и проводит до номера.
          div.filter__box
            h4(class="filter__title filter__title_mt-30") Удобства номера
            div.guest-container
              input(type="text" placeholder="" class="input filter__input js-bed" readonly)
              i(class="material-icons filter__icon-arrow") keyboard_arrow_down
              div.guest-container__inner
                div.guest-container__inner-category
                  span.guest-container__inner-adult Спальни
                  span.counter
                    span.minus -
                    span.guest-container__number 0
                    span.plus +
                div.guest-container__inner-category
                  span.guest-container__inner-adult Кровати
                  span.counter
                    span.minus -
                    span.guest-container__number 0
                    span.plus +
                div.guest-container__inner-category
                  span.guest-container__inner-adult Ванные комнаты
                  span.counter
                    span.minus -
                    span.guest-container__number 0
                    span.plus +
                div.guest-container__inner-category
                  a(href="#" class="guest-container__btn-clear") очистить
                  a(href="#" class="guest-container__btn-apply") принять
          div.filter__box
            h4(class="filter__title") Дополнительные удобства
            i(class="material-icons filter__icon-arrow filter__icon-arrow_custom_position") keyboard_arrow_down
          section(class="checkbox-container")
            div.checkbox-container__box
              input(type="checkbox"  id="checkbox-aside6" class="input filter__input-checkbox")
              label(for="checkbox-aside6" class="checkbox-container__label") Завтрак
            div.checkbox-container__box
              input(type="checkbox"  id="checkbox-aside7" class="input filter__input-checkbox")
              label(for="checkbox-aside7" class="checkbox-container__label") Письменный стол
            div.checkbox-container__box
              input(type="checkbox"  id="checkbox-aside8" class="input filter__input-checkbox")
              label(for="checkbox-aside8" class="checkbox-container__label") Стул для кормления
            div.checkbox-container__box
              input(type="checkbox"  id="checkbox-aside9" class="input filter__input-checkbox")
              label(for="checkbox-aside9" class="checkbox-container__label") Кроватка
            div.checkbox-container__box
              input(type="checkbox"  id="checkbox-aside10" class="input filter__input-checkbox")
              label(for="checkbox-aside10" class="checkbox-container__label") Телевизор
            div.checkbox-container__box
              input(type="checkbox"  id="checkbox-aside11" class="input filter__input-checkbox")
              label(for="checkbox-aside11" class="checkbox-container__label") Шампунь
            div.checkbox-container__box
              input(type="checkbox"  id="checkbox-aside12" class="input filter__input-checkbox")
              label(for="checkbox-aside12" class="checkbox-container__label") Телевизор
            div.checkbox-container__box
              input(type="checkbox"  id="checkbox-aside13" class="input filter__input-checkbox")
              label(for="checkbox-aside13" class="checkbox-container__label") Шампунь

      div(class="room-var room-var_margin_l")
        h2.room-var__title Номера, которые мы для вас подобрали
        section.room-var__container
          +room("888", "люкс", "9 990₽ ", 'star','star', 145)
          +room(840, "люкс", "9 990₽ ", 'star','star_border', 65)
          +room(980, "люкс", "8 500₽ ", 'star_border','star_border', 35)
          +room(856, "", "7 300₽ ", 'star','star', 19)
          +room(740, "", "6 000₽ ", 'star','star_border', 44)
          +room(982, "", "5 800₽ ", 'star_border','star_border', 56)
          +room(678, "", "5 500₽ ", 'star','star', 45)
          +room(450, "", "5 300₽ ", 'star','star_border', 39)
          +room(350, "", "5 000₽ ", 'star_border','star_border', 77)
          +room(666, "", "5 000₽ ", 'star','star', 25)
          +room(444, "", "5 000₽ ", 'star','star_border', 15)
          +room(352, "", "5 000₽ ", 'star_border','star_border', 55)


    include ../include/footer.pug