doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Webpack 4 template
  body
    include ../include/header.pug
    main(class="registration")
      div(class="search-form registration__search-form")
        form
          h2.registration__title  Регистрация аккаунта
          input(type="text" placeholder="Имя" class="input")
          input(type="text" placeholder="Фамилия" class="input")
          div.registration__radio-buttons
            span.box-container
              input(type="radio" class="registration__radio" id="registration-1" name="gender")
              label(class="registration__label" for="registration-1") Мужчина
            span.box-container
              input(type="radio" class="registration__radio" id="registration-2" name="gender")
              label(class="registration__label" for="registration-2") Женщина
          div.registration__date-brth
            h4.registration__small-title дата рождения
            input(type="text" placeholder="ДД.ММ.ГГГГ" class="input registration__input")
          div.registration__entry-data
            h4.registration__small-title данные для входа в сервис
            input(type="text" placeholder="Email" class="input registration__input")
            input(type="password" placeholder="Пароль" class="input registration__input")
            span.box-container
              input(type="checkbox" class="registration__checkbox" id="registration-3")
              label(class="registration__label" for="registration-3") Получать спецпредложения
          a(href="#" class="button registration__button") подобрать номер
            <i class="material-icons registration__material-icons">arrow_forward</i>
          footer.registration__footer
            span.registration__text Уже есть аккаунт на Toxin
            a(href="#" class="button registration__entry-button") Войти



  include ../include/footer.pug