.button {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.25;
  text-transform: uppercase;
  border-radius: 22px;
  border: 2px solid #bc9cff;
  display: block;
  text-align: center;
  padding: 7.5px 0;
}
