.filter {

  &__title {
    font-size: 1.2em;
    line-height: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
    color: #1f2041;
  }

  &__aside {
    width: 266px;
  }

  &__input-checkbox {
    display: none;
  }
}

.checkbox-container {
  &__label {
    font-size: 1.4em;
    line-height: 1.25em;
    color: rgba(31, 32, 65, 0.5);
  }

  &__box {
    position: relative;
  }
}
