.filter {
  &__title {
    font-size: 1.2em;
    line-height: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
    color: #1f2041;
  }

  &__aside {
    width: 266px;
  }

  &__input-checkbox {
    display: none;

    &:checked + .checkbox-container__label::after {
      border: 1px solid #bc9cff;
    }

    &:checked + .checkbox-container__label::before {
      display: block;
    }
  }
}

.checkbox-container {
  &__label {
    font-size: 1.4em;
    line-height: 1.25em;
    color: rgba(31, 32, 65, 0.5);
    margin-left: 30px;
    margin-top: 12px;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      position: absolute;
      background: transparent;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 4px;
      width: 20px;
      height: 20px;
      top: 0;
      left: 0;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: transparent;
      border-bottom: 2px solid #8ba4f9;
      border-right: 2px solid #8ba4f9;
      transform: rotate(45deg);
      box-sizing: border-box;
      border-radius: 4px;
      width: 6px;
      height: 8px;
      top: 5px;
      left: 7px;
      display: none;
    }
  }

  &__box {
    position: relative;
    margin-top: 12px;
    width: 192px;
  }
}
