.header {
  display: flex;
  align-items: center;
  height: 70px;
  position: relative;

  &-desktop {
    display: flex;
    flex-grow: 1;
  }

  &-logo {
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 106px;
    height: 40px;
    display: block;
  }

  &__icon-arrow {
    position: relative;
    top: 6px;
  }

  &__nav {
    flex-grow: 1;
    text-align: right;
    padding-bottom: 5px;

    &-link {
      font-size: 1.4em;
      line-height: 1.215;
      margin-left: 20px;

      &:last-child {
        margin-right: 20px;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__btn-entry {
    width: 87px;
    color: #bc9cff;
  }

  &__btn-reg {
    width: 196px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    color: #fff;
    margin-left: 20px;
  }

  &-mobile {
    display: none;
    position: absolute;

    &__nav {
      text-align: right;
      padding-bottom: 5px;

      &-link {
        font-size: 1.8em;
        line-height: 1.215;
        margin-left: 20px;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .header {
    &-desktop {
      display: none;
    }

    &-mobile {
      display: block;
      height: auto;
      width: 100%;
      right: 0;
      top: 0;
      background-color: #fff;
      z-index: 5;

      &__nav-link {
        margin: 20px auto;
        text-align: center;
        display: block;
      }

      &__btn-entry,
      &__btn-reg {
        margin: 5px 0;
      }
    }

    &__buttons {
      flex-direction: column;
      max-width: 240px;
      margin: 20px auto;
    }
  }
}
