.footer {
  &__input {
    margin-top: 20px;
  }

  &__arrow-right {
    position: absolute;
    right: 0;
    top: 30px;
    display: block;
    width: 44px;
    height: 44px;
    text-align: center;
  }

  &__material-icons {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    color: transparent;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 104px;
    margin-bottom: 100px;

    &-logo {
      background-image: url("../img/logo.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 106px;
      height: 40px;
      display: block;
    }

    &-title {
      font-weight: bold;
      font-size: 1.2em;
      line-height: 1.25;
      text-transform: uppercase;
      color: #1f2041;
    }

    &-item {
      margin-top: 20px;
    }

    &-link {
      font-size: 1.4em;
      line-height: 1.215;
    }

    &-text {
      font-size: 1.4em;
      line-height: 1.72em;
      color: rgba(31, 32, 65, 0.75);
      width: 260px;
      margin-top: 20px;
    }
  }

  &__copyright {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(31, 32, 65, 0.1);
  }
}

.copyright {
  &-text {
    font-size: 1.4em;
    line-height: 1.215;
    color: rgba(31, 32, 65, 0.75);
  }

  &__fab {
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.4em;
    margin-left: 20px;
  }

  &__list {
    display: flex;
  }
}
