@import "variables";
@import "fonts";
@import "libs";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: $mainFontSize;
  color: $mainColor;
  font-family: 'Montserrat', sans-serif;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}

.wrapper {
  margin: auto;
  max-width: 1160px;
  position: relative;
  height: 100%;
}


@import "header/header";
@import "footer/footer";
@import "button/button";
@import "input/input";
@import "search-main/search-main";
@import "search-form/search-form";
@import "registration/registration";
