@media screen and (max-width: 1024px) {
  .footer__nav {
    flex-wrap: wrap;

    &-container {
      &:nth-child(1) {
        order: 5;
      }

      margin-top: 10px;
    }
  }

  .search-form {
    width: 380px;
  }
}

@media screen and (max-width: 768px) {
  .footer__nav {
    flex-direction: column;
    max-width: 320px;
  }
}

@media screen and (max-width: 425px) {
  .search-form {
    font-size: 8px;
    width: calc(100% - 30px);
    left: 15px;
    transform: translateX(0);
  }

  .entry__text,
  .registration__text {
    width: 120px;
  }
}
