.details-room {
  max-width: 1440px;
  margin: auto;

  &__photo {
    display: flex;
    flex-wrap: wrap;

    &-big {
      width: 68.125%;
      background-image: url("../img/rd_big.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 485px;
    }

    &-small {
      width: 31.875%;
      height: 485px;
    }
  }

  &__content {
    max-width: 1160px;
    margin: 70px auto 0;
  }
}

.photo-small {
  display: flex;
  flex-direction: column;

  &__box {
    background-size: cover;
    background-repeat: no-repeat;
    height: 282px;
    width: 100%;
  }

  &__box:nth-child(1) {
    background-image: url("../img/rd_sm_1.png");
  }

  &__box:nth-child(2) {
    background-image: url("../img/rd_sm_2.png");
  }
}

.main-info {
  &__about {
    width: 61.5%;
    display: flex;

    &-container {
      width: 280px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 1.9em;
    line-height: 1.275em;
    color: #1f2041;
  }

  &__about-box {
    padding: 20px 0;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__about-box:last-child {
    border-bottom: none;
  }

  &__about-text {
    display: inline-block;
    margin-left: 10px;
  }

  &__about-title,
  &__about-descritpion {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 1.715em;
    color: rgba(31, 32, 65, 0.75);
  }

  &__about-descritpion {
    font-weight: normal;
  }

  &__icons {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4.8em;
    line-height: 0.855em;
    text-align: center;
    position: relative;
    top: 6px;
  }

  &__diagramm {
    width: 120px;
    height: 120px;
    background-image: url("../img/diagramm.svg");
    display: inline-block;
    margin-top: 21px;
  }

  &__list {
    display: inline-block;
    margin-left: 45px;

    &-item {
      position: relative;
      font-size: 1.4em;
      line-height: 1.715em;
      color: rgba(31, 32, 65, 0.75);

      &::before {
        content: "";
        position: absolute;
        top: 7px;
        left: -20px;
        display: block;
        width: 10px;
        height: 10px;
        background-image: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
        background-repeat: no-repeat;
        border-radius: 50%;
      }

      &:nth-child(2)::before {
        background-image: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      }

      &:nth-child(3)::before {
        background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      }

      &:nth-child(4)::before {
        background-image:  linear-gradient(180deg, #919191 0%, #3D4975 100%);
      }
    }
  }
}
